In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import datetime as dt
import matplotlib.dates as mdates
from sklearn.preprocessing import scale
%matplotlib inline

In [2]:
def read_data(file_path):
    data = pd.read_csv(file_path,header = 0)
    data["date"] = pd.to_datetime(data["date"])
    data["year"] = data["date"].dt.year
    data["month"] = data["date"].dt.month
    data["day"] = data["date"].dt.day
    data["hour"] = data["date"].dt.hour
    data["minute"] = data["date"].dt.minute
    data["second"] = data["date"].dt.second
    data['weekday'] = data[['date']].apply(lambda x: dt.datetime.strftime(x['date'], '%A'), axis=1)
    return data

In [3]:
training_data = read_data('datatraining.txt')

In [21]:
training_data

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,year,month,day,hour,minute,second,weekday
1,2015-02-04 17:51:00,23.180000,27.272000,426.0,721.250000,0.004793,1,2015,2,4,17,51,0,6
2,2015-02-04 17:51:59,23.150000,27.267500,429.5,714.000000,0.004783,1,2015,2,4,17,51,59,6
3,2015-02-04 17:53:00,23.150000,27.245000,426.0,713.500000,0.004779,1,2015,2,4,17,53,0,6
4,2015-02-04 17:54:00,23.150000,27.200000,426.0,708.250000,0.004772,1,2015,2,4,17,54,0,6
5,2015-02-04 17:55:00,23.100000,27.200000,426.0,704.500000,0.004757,1,2015,2,4,17,55,0,6
6,2015-02-04 17:55:59,23.100000,27.200000,419.0,701.000000,0.004757,1,2015,2,4,17,55,59,6
7,2015-02-04 17:57:00,23.100000,27.200000,419.0,701.666667,0.004757,1,2015,2,4,17,57,0,6
8,2015-02-04 17:57:59,23.100000,27.200000,419.0,699.000000,0.004757,1,2015,2,4,17,57,59,6
9,2015-02-04 17:58:59,23.100000,27.200000,419.0,689.333333,0.004757,1,2015,2,4,17,58,59,6
10,2015-02-04 18:00:00,23.075000,27.175000,419.0,688.000000,0.004745,1,2015,2,4,18,0,0,6
11,2015-02-04 18:01:00,23.075000,27.150000,419.0,690.250000,0.004741,1,2015,2,4,18,1,0,6
12,2015-02-04 18:02:00,23.100000,27.100000,419.0,691.000000,0.004739,1,2015,2,4,18,2,0,6
13,2015-02-04 18:03:00,23.100000,27.166667,419.0,683.500000,0.004751,1,2015,2,4,18,3,0,6
14,2015-02-04 18:04:00,23.050000,27.150000,419.0,687.500000,0.004734,1,2015,2,4,18,4,0,6
15,2015-02-04 18:04:59,23.000000,27.125000,419.0,686.000000,0.004715,1,2015,2,4,18,4,59,6
16,2015-02-04 18:06:00,23.000000,27.125000,418.5,680.500000,0.004715,1,2015,2,4,18,6,0,6
17,2015-02-04 18:07:00,23.000000,27.200000,0.0,681.500000,0.004728,0,2015,2,4,18,7,0,6
18,2015-02-04 18:08:00,22.945000,27.290000,0.0,685.000000,0.004728,0,2015,2,4,18,8,0,6
19,2015-02-04 18:08:59,22.945000,27.390000,0.0,685.000000,0.004745,0,2015,2,4,18,8,59,6
20,2015-02-04 18:10:00,22.890000,27.390000,0.0,689.000000,0.004730,0,2015,2,4,18,10,0,6
21,2015-02-04 18:10:59,22.890000,27.390000,0.0,689.500000,0.004730,0,2015,2,4,18,10,59,6
22,2015-02-04 18:11:59,22.890000,27.390000,0.0,689.000000,0.004730,0,2015,2,4,18,11,59,6
23,2015-02-04 18:13:00,22.890000,27.445000,0.0,691.000000,0.004739,0,2015,2,4,18,13,0,6
24,2015-02-04 18:14:00,22.890000,27.500000,0.0,688.000000,0.004749,0,2015,2,4,18,14,0,6
25,2015-02-04 18:15:00,22.890000,27.500000,0.0,689.500000,0.004749,0,2015,2,4,18,15,0,6
26,2015-02-04 18:16:00,22.790000,27.445000,0.0,689.000000,0.004710,0,2015,2,4,18,16,0,6
27,2015-02-04 18:16:59,22.790000,27.500000,0.0,685.666667,0.004720,0,2015,2,4,18,16,59,6
28,2015-02-04 18:17:59,22.790000,27.500000,0.0,687.000000,0.004720,0,2015,2,4,18,17,59,6
29,2015-02-04 18:19:00,22.790000,27.500000,0.0,688.000000,0.004720,0,2015,2,4,18,19,0,6
30,2015-02-04 18:20:00,22.745000,27.500000,0.0,670.000000,0.004707,0,2015,2,4,18,20,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,2015-02-10 09:04:00,20.700000,34.417500,419.0,568.750000,0.005203,1,2015,2,10,9,4,0,5
8115,2015-02-10 09:04:59,20.700000,34.090000,419.0,556.666667,0.005153,1,2015,2,10,9,4,59,5
8116,2015-02-10 09:06:00,20.700000,34.296667,419.0,548.000000,0.005184,1,2015,2,10,9,6,0,5
8117,2015-02-10 09:07:00,20.730000,34.466667,419.0,563.333333,0.005220,1,2015,2,10,9,7,0,5
8118,2015-02-10 09:08:00,20.745000,34.567500,426.0,593.750000,0.005240,1,2015,2,10,9,8,0,5
8119,2015-02-10 09:08:59,20.767500,34.717500,422.5,600.750000,0.005270,1,2015,2,10,9,8,59,5
8120,2015-02-10 09:10:00,20.790000,35.090000,426.0,623.000000,0.005335,1,2015,2,10,9,10,0,5
8121,2015-02-10 09:10:59,20.790000,34.972500,433.0,631.000000,0.005317,1,2015,2,10,9,10,59,5
8122,2015-02-10 09:11:59,20.790000,34.826667,433.0,636.000000,0.005295,1,2015,2,10,9,11,59,5
8123,2015-02-10 09:13:00,20.840000,35.195000,433.0,636.750000,0.005368,1,2015,2,10,9,13,0,5
8124,2015-02-10 09:14:00,20.890000,35.300000,433.0,663.000000,0.005401,1,2015,2,10,9,14,0,5
8125,2015-02-10 09:15:00,20.856667,35.096667,433.0,665.333333,0.005358,1,2015,2,10,9,15,0,5
8126,2015-02-10 09:16:00,20.890000,35.320000,433.0,669.500000,0.005404,1,2015,2,10,9,16,0,5
8127,2015-02-10 09:16:59,20.917500,35.475000,433.0,679.250000,0.005437,1,2015,2,10,9,16,59,5
8128,2015-02-10 09:17:59,20.890000,35.400000,433.0,684.666667,0.005416,1,2015,2,10,9,17,59,5
8129,2015-02-10 09:19:00,20.917500,35.717500,433.0,706.250000,0.005474,1,2015,2,10,9,19,0,5
8130,2015-02-10 09:20:00,20.958750,35.683750,433.0,712.625000,0.005483,1,2015,2,10,9,20,0,5
8131,2015-02-10 09:21:00,21.000000,35.650000,433.0,719.000000,0.005492,1,2015,2,10,9,21,0,5
8132,2015-02-10 09:22:00,21.000000,35.700000,433.0,730.250000,0.005500,1,2015,2,10,9,22,0,5
8133,2015-02-10 09:23:00,21.000000,35.760000,433.0,739.000000,0.005509,1,2015,2,10,9,23,0,5
8134,2015-02-10 09:23:59,21.000000,35.850000,433.0,756.250000,0.005523,1,2015,2,10,9,23,59,5
8135,2015-02-10 09:24:59,21.000000,35.700000,433.0,761.000000,0.005500,1,2015,2,10,9,24,59,5
8136,2015-02-10 09:26:00,21.025000,35.950000,433.0,763.000000,0.005547,1,2015,2,10,9,26,0,5
8137,2015-02-10 09:27:00,21.000000,35.860000,433.0,771.333333,0.005525,1,2015,2,10,9,27,0,5
8138,2015-02-10 09:28:00,21.050000,36.050000,433.0,780.250000,0.005571,1,2015,2,10,9,28,0,5
8139,2015-02-10 09:29:00,21.050000,36.097500,433.0,787.250000,0.005579,1,2015,2,10,9,29,0,5
8140,2015-02-10 09:29:59,21.050000,35.995000,433.0,789.500000,0.005563,1,2015,2,10,9,29,59,5
8141,2015-02-10 09:30:59,21.100000,36.095000,433.0,798.500000,0.005596,1,2015,2,10,9,30,59,5
8142,2015-02-10 09:32:00,21.100000,36.260000,433.0,820.333333,0.005621,1,2015,2,10,9,32,0,5
8143,2015-02-10 09:33:00,21.100000,36.200000,447.0,821.000000,0.005612,1,2015,2,10,9,33,0,5

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
weekdays = training_data['weekday']
weekdays.shape

(8143,)

In [8]:
week_enc = le.fit_transform(weekdays)
week_enc.shape

(8143,)

In [9]:
training_data['weekday'] = [int(str(a)) for a in week_enc]

In [10]:
training_data[:5]

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,year,month,day,hour,minute,second,weekday
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1,2015,2,4,17,51,0,6
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1,2015,2,4,17,51,59,6
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1,2015,2,4,17,53,0,6
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1,2015,2,4,17,54,0,6
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1,2015,2,4,17,55,0,6

In [11]:
x = training_data.iloc[:,1:6]
y = training_data.iloc[:,6]

In [12]:
keys = ['year', 'month', 'day', 'hour', 'minute', 'second', 'weekday']
for key in keys:
    x[key] = training_data[key]
# x

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
knn = KNeighborsClassifier(n_neighbors=3)

In [15]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [19]:
test_data1 = read_data('datatest.txt')
test_data1

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,year,month,day,hour,minute,second,weekday
140,2015-02-02 14:19:00,23.700000,26.272000,585.200000,749.200000,0.004764,1,2015,2,2,14,19,0,Monday
141,2015-02-02 14:19:59,23.718000,26.290000,578.400000,760.400000,0.004773,1,2015,2,2,14,19,59,Monday
142,2015-02-02 14:21:00,23.730000,26.230000,572.666667,769.666667,0.004765,1,2015,2,2,14,21,0,Monday
143,2015-02-02 14:22:00,23.722500,26.125000,493.750000,774.750000,0.004744,1,2015,2,2,14,22,0,Monday
144,2015-02-02 14:23:00,23.754000,26.200000,488.600000,779.000000,0.004767,1,2015,2,2,14,23,0,Monday
145,2015-02-02 14:23:59,23.760000,26.260000,568.666667,790.000000,0.004779,1,2015,2,2,14,23,59,Monday
146,2015-02-02 14:25:00,23.730000,26.290000,536.333333,798.000000,0.004776,1,2015,2,2,14,25,0,Monday
147,2015-02-02 14:25:59,23.754000,26.290000,509.000000,797.000000,0.004783,1,2015,2,2,14,25,59,Monday
148,2015-02-02 14:26:59,23.754000,26.350000,476.000000,803.200000,0.004794,1,2015,2,2,14,26,59,Monday
149,2015-02-02 14:28:00,23.736000,26.390000,510.000000,809.000000,0.004796,1,2015,2,2,14,28,0,Monday
150,2015-02-02 14:29:00,23.745000,26.445000,481.500000,815.250000,0.004809,1,2015,2,2,14,29,0,Monday
151,2015-02-02 14:30:00,23.700000,26.560000,481.800000,824.000000,0.004817,1,2015,2,2,14,30,0,Monday
152,2015-02-02 14:31:00,23.700000,26.600000,475.250000,832.000000,0.004824,1,2015,2,2,14,31,0,Monday
153,2015-02-02 14:31:59,23.700000,26.700000,469.000000,845.333333,0.004842,1,2015,2,2,14,31,59,Monday
154,2015-02-02 14:32:59,23.700000,26.774000,464.000000,852.400000,0.004856,1,2015,2,2,14,32,59,Monday
155,2015-02-02 14:34:00,23.700000,26.890000,464.000000,861.000000,0.004877,1,2015,2,2,14,34,0,Monday
156,2015-02-02 14:35:00,23.700000,26.972500,455.000000,880.000000,0.004892,1,2015,2,2,14,35,0,Monday
157,2015-02-02 14:36:00,23.600000,26.890000,454.000000,891.000000,0.004848,1,2015,2,2,14,36,0,Monday
158,2015-02-02 14:37:00,23.640000,26.976000,458.000000,897.600000,0.004875,1,2015,2,2,14,37,0,Monday
159,2015-02-02 14:38:00,23.650000,27.050000,464.000000,900.500000,0.004891,1,2015,2,2,14,38,0,Monday
160,2015-02-02 14:38:59,23.640000,27.100000,473.000000,908.800000,0.004898,1,2015,2,2,14,38,59,Monday
161,2015-02-02 14:39:59,23.600000,27.160000,464.000000,918.000000,0.004897,1,2015,2,2,14,39,59,Monday
162,2015-02-02 14:41:00,23.600000,27.236000,498.400000,925.200000,0.004910,1,2015,2,2,14,41,0,Monday
163,2015-02-02 14:42:00,23.600000,27.290000,530.200000,929.400000,0.004920,1,2015,2,2,14,42,0,Monday
164,2015-02-02 14:43:00,23.600000,27.330000,533.600000,936.400000,0.004928,1,2015,2,2,14,43,0,Monday
165,2015-02-02 14:44:00,23.600000,27.340000,524.250000,950.000000,0.004929,1,2015,2,2,14,44,0,Monday
166,2015-02-02 14:44:59,23.625000,27.392500,498.666667,961.000000,0.004946,1,2015,2,2,14,44,59,Monday
167,2015-02-02 14:45:59,23.600000,27.390000,516.333333,963.000000,0.004938,1,2015,2,2,14,45,59,Monday
168,2015-02-02 14:47:00,23.600000,27.412000,501.200000,958.600000,0.004942,1,2015,2,2,14,47,0,Monday
169,2015-02-02 14:48:00,23.600000,27.500000,522.000000,965.333333,0.004958,1,2015,2,2,14,48,0,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2775,2015-02-04 10:14:00,23.790000,26.310000,763.000000,1158.200000,0.004797,1,2015,2,4,10,14,0,Wednesday
2776,2015-02-04 10:14:59,23.790000,26.315000,758.250000,1160.250000,0.004798,1,2015,2,4,10,14,59,Wednesday
2777,2015-02-04 10:15:59,23.890000,26.390000,755.500000,1166.000000,0.004841,1,2015,2,4,10,15,59,Wednesday
2778,2015-02-04 10:17:00,23.890000,26.365000,758.250000,1164.750000,0.004837,1,2015,2,4,10,17,0,Wednesday
2779,2015-02-04 10:18:00,23.890000,26.290000,772.750000,1163.250000,0.004823,1,2015,2,4,10,18,0,Wednesday
2780,2015-02-04 10:19:00,23.984286,26.375714,767.000000,1172.714286,0.004866,1,2015,2,4,10,19,0,Wednesday
2781,2015-02-04 10:20:00,24.000000,26.365000,774.500000,1182.000000,0.004869,1,2015,2,4,10,20,0,Wednesday
2782,2015-02-04 10:21:00,24.050000,26.340000,774.500000,1182.000000,0.004879,1,2015,2,4,10,21,0,Wednesday
2783,2015-02-04 10:21:59,24.080000,26.370000,769.800000,1187.600000,0.004893,1,2015,2,4,10,21,59,Wednesday
2784,2015-02-04 10:23:00,24.100000,26.566667,758.333333,1191.333333,0.004936,1,2015,2,4,10,23,0,Wednesday
2785,2015-02-04 10:24:00,24.100000,26.472500,775.750000,1213.750000,0.004919,1,2015,2,4,10,24,0,Wednesday
2786,2015-02-04 10:25:00,24.100000,26.154000,775.000000,1194.000000,0.004859,1,2015,2,4,10,25,0,Wednesday
2787,2015-02-04 10:25:59,24.100000,25.958000,783.400000,1173.400000,0.004822,1,2015,2,4,10,25,59,Wednesday
2788,2015-02-04 10:27:00,24.100000,25.918000,789.600000,1160.200000,0.004815,1,2015,2,4,10,27,0,Wednesday
2789,2015-02-04 10:27:59,24.100000,25.892500,797.500000,1156.250000,0.004810,1,2015,2,4,10,27,59,Wednesday
2790,2015-02-04 10:28:59,24.100000,25.832000,799.000000,1139.000000,0.004799,1,2015,2,4,10,28,59,Wednesday
2791,2015-02-04 10:30:00,24.175000,25.840000,782.500000,1140.500000,0.004822,1,2015,2,4,10,30,0,Wednesday
2792,2015-02-04 10:31:00,24.200000,25.891667,786.166667,1145.333333,0.004839,1,2015,2,4,10,31,0,Wednesday
2793,2015-02-04 10:32:00,24.200000,25.890000,794.250000,1149.250000,0.004839,1,2015,2,4,10,32,0,Wednesday
2794,2015-02-04 10:33:00,24.200000,25.890000,797.500000,1152.500000,0.004839,1,2015,2,4,10,33,0,Wednesday
2795,2015-02-04 10:34:00,24.200000,25.890000,787.000000,1153.250000,0.004839,1,2015,2,4,10,34,0,Wednesday
2796,2015-02-04 10:34:59,24.218000,25.912000,805.000000,1152.400000,0.004848,1,2015,2,4,10,34,59,Wednesday
2797,2015-02-04 10:36:00,24.260000,25.891667,798.000000,1146.166667,0.004857,1,2015,2,4,10,36,0,Wednesday
2798,2015-02-04 10:37:00,24.290000,25.978000,793.000000,1145.400000,0.004882,1,2015,2,4,10,37,0,Wednesday
2799,2015-02-04 10:38:00,24.290000,25.852000,801.400000,1140.800000,0.004858,1,2015,2,4,10,38,0,Wednesday
2800,2015-02-04 10:38:59,24.290000,25.700000,808.000000,1150.250000,0.004829,1,2015,2,4,10,38,59,Wednesday
2801,2015-02-04 10:40:00,24.330000,25.736000,809.800000,1129.200000,0.004848,1,2015,2,4,10,40,0,Wednesday
2802,2015-02-04 10:40:59,24.330000,25.700000,817.000000,1125.800000,0.004841,1,2015,2,4,10,40,59,Wednesday
2803,2015-02-04 10:41:59,24.356667,25.700000,813.000000,1123.000000,0.004849,1,2015,2,4,10,41,59,Wednesday
2804,2015-02-04 10:43:00,24.408333,25.681667,798.000000,1124.000000,0.004860,1,2015,2,4,10,43,0,Wednesday

In [20]:
le_test = LabelEncoder()
weekdays_test = test_data1['weekday']
week_enc_test = le_test.fit_transform(weekdays_test)

# print(len(test_data1['weekday']), len([int(str(a)) for a in week_enc_test]))
test_data1['weekday'] = [int(str(a)) for a in week_enc]
test_data1[:4]

8143 2665

In [ ]:
x_test = test_data1.iloc[:,1:6]
keys = ['year', 'month', 'day', 'hour', 'minute', 'second', 'weekday']
for key in keys:
    x_test[key] = test_data1[key]

In [ ]:
y_test = test_data1.iloc[:,6]

In [ ]:
y_pred = knn.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)